* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@font-face {
  font-family: "Scotch Display";
  src: url("../fonts/ScotchDisplay-Medium.woff2") format("woff2"),
       url("../fonts/ScotchDisplay-Medium.woff") format("woff");
}

$spaceMonoFont: "Space Mono", monospace;
$scotchDisplayFont: "Scotch Display";

@mixin flex-around {
  display: flex;
  justify-content: space-around;
}

body {  
  font-family: $spaceMonoFont;
}

header {
  @include flex-around();
  opacity: 50%;

  width: 100%;
  padding: 18px;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
  position: absolute;

  ul {
    @include flex-around();
  
    width: 80%;
    font-family: $spaceMonoFont;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5.6px;

    li:first-child {
      list-style: none;
    }
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  border: 0px 2px solid black;
  max-width: 100vw;
  max-height: 100%;

  display: grid;
  grid-template-areas: 
  "box-imgage logotipo"
  "box-imgage text"
  "box-imgage div-icons"
  "box-imgage form";

}

.box-image {
  width: 50%;
  max-height: 100vh;

  margin-left: -120px;

  grid-area: "box-imgage";
  grid-row: box-imgage;
  
  .img-bg {
    max-width: 950px;
    height: auto;
  }
}



.logotipo {
  display: flex;
  justify-content: flex-end;

  grid-area: "logotipo";

  width: 220px;
  margin: 100px 0px 0 0;

  img {
    width: 80px;
    height: 35px;
  }
}

.text {
  font-family: $scotchDisplayFont;
  font-size: 32px;
  font-weight: 200;
  
  grid-area: "text";
}

.div-icons {
  display: flex;
  justify-content: space-between;

 
  grid-area: "div-icons";

  .icons {
    display: flex;
    flex-direction: column;

    img{
      width: 15%;
    }
  }
}

.form {

  fieldset {
    border: none;
  }
}
  


