@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Scotch Display";
  src: url("../fonts/ScotchDisplay-Medium.woff2") format("woff2"), url("../fonts/ScotchDisplay-Medium.woff") format("woff");
}

body {
  font-family: "Space Mono", monospace;
}

header {
  width: 100vw;
  background-color: #FFF;
  font-size: 12px;
  padding: 18px 0;
  position: absolute;
  border-bottom: #DDD 2px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
}

ul li:first-child {
  list-style: none;
}

ul li {
  text-transform: uppercase;
  letter-spacing: 7.5px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.logotipo-mobile {
  display: none;
}

.img-bg {
  max-width: 950px;
  height: auto;
  margin: 22px 0 0 -100px;
}

.box-2 {
  width: 90vw;
  background-color: #FFF;
  padding: 100px 0;
  margin-left: -30px;
}

.box-2 .logotipo {
  width: 100%;
  margin-bottom: 30px;
}

.box-2 h2 {
  font-family: "Scotch Display";
  font-size: 32px;
  margin-bottom: 10px;
  z-index: -1;
  line-height: 36px;
}

.wave-container {
  display: none;
}

.box-2 .logotipo img {
  width: 12%;
  margin-left: 70%;
}

.box-2 legend {
  margin: 20px 0;
}

.div-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.div-icons p {
  margin: 10px 0 80px 0;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icons img {
  width: 15px;
  margin: 5px 60px;
  cursor: pointer;
}

.box-2 input {
  width: 50%;
  padding: 10px;
  outline: none;
  border: 1px solid #999;
  font-family: "Space Mono", monospace;
}

::-webkit-input-placeholder {
  font-family: "Space Mono", monospace;
  color: #DDD;
}

.box-2 button {
  padding: 10px;
  background-color: black;
  border: none;
  width: 12%;
  color: white;
  font-family: "Space Mono", monospace;
  font-size: 12px;
}

footer {
  display: none;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
}

footer p {
  text-align: center;
  font-size: 10px;
  color: #ccc;
}
/*# sourceMappingURL=index.css.map */