@media screen and (max-width: 560px) {

  header ul{
    width: 80%;
    font-size: 16px;
    align-items: unset;

    flex-direction: column;
  }

  header li:first-child{
    list-style: disc;
  }

  header li {
    letter-spacing: 3px;
    line-height: 30px;
  }

  .container {
    flex-direction: column;

    z-index: inherit;
    position: inherit;
  }

  .logotipo-mobile {
    margin: 200px 40px 0 0;

    display: flex;
    justify-content: flex-end;
  }

  .logotipo-mobile img {
    width: 25%;
  }

  .img-bg {
    width: 555px;
    max-height: 370px;
    margin: 30px 0 0 -180px;
    z-index: -1;
  }

  .box-2 {
    width: 100%;
    margin-left: 0;
    padding: 0;
  }

  .box-2 .logotipo {
    display: none;
  }

  .box-2 h2 {
    display: none;
  }

  .wave-container {
    display: block;
  }

  .wave-container h2 {
    display: block;
    font-family: "Scotch Display";
    font-size: 32px;
    line-height: 36px;
    color: white;
    margin: 0 20px;
  }

  .div-icons {
    margin: 50px 20px;
  }

  .div-icons .icons img {
    margin: 5px 20px;
  }

  .box-2 form {
    margin: 100px 20px;
  }

  .box-2 form fieldset {
    margin: 5px;
  }

  .box-2 form input {
    width: 65%;
    margin: 2px 0;
  }

  .box-2 form button {
    width: 20%;
  }

  footer{
    display: block;
  }
}
